body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*a.main {
    color: white;
}*/

a {
    color: #08c;
    text-decoration: none
}

a:hover {
    color: #005580;
    text-decoration: underline
}

.dropdown-toggle-over::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";

}







    .btn-secondary-over:focus, .btn-secondary-over.focus {
        box-shadow: none;
    }

    .btn-secondary-over.disabled, .btn-secondary-over:disabled {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }

    .btn-secondary-over:not(:disabled):not(.disabled):active, .btn-secondary-over:not(:disabled):not(.disabled).active,
    .show > .btn-secondary-over.dropdown-toggle {
        color: white;
        background-color: transparent;
        border-color: transparent;
    }

     .btn-secondary-over:not(:disabled):not(.disabled):active:focus, .btn-secondary-over:not(:disabled):not(.disabled).active:focus,
     .show > .btn-secondary-over.dropdown-toggle:focus {
         box-shadow: none;
     }


.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

.product {
    display: block;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: auto;
}

.products {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
    height: auto;
}

.product-photo {
    position: relative;
    padding-bottom: 80%;
    overflow: hidden;
    
}

    .product-photo img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 80%;
        max-height: 80%;
        margin: auto;
        transition: transform .4s ease-out;
    }

.product:hover .product-photo img {
    transform: scale(1.20);
}

.product-price-old b,
.product-price-old small {
    color: #888;
}

.product:hover .product-preview {
    transform: translateY(0);
    opacity: 1;
}