body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*a.main {
    color: white;
}*/

a {
    color: #08c;
    text-decoration: none
}

a:hover {
    color: #005580;
    text-decoration: underline
}

.dropdown-toggle-over::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";

}







    .btn-secondary-over:focus, .btn-secondary-over.focus {
        box-shadow: none;
    }

    .btn-secondary-over.disabled, .btn-secondary-over:disabled {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }

    .btn-secondary-over:not(:disabled):not(.disabled):active, .btn-secondary-over:not(:disabled):not(.disabled).active,
    .show > .btn-secondary-over.dropdown-toggle {
        color: white;
        background-color: transparent;
        border-color: transparent;
    }

     .btn-secondary-over:not(:disabled):not(.disabled):active:focus, .btn-secondary-over:not(:disabled):not(.disabled).active:focus,
     .show > .btn-secondary-over.dropdown-toggle:focus {
         box-shadow: none;
     }
	 
	 
	 
	 
	 