@Scripts.Render("~/bundles/jquery")

@model IEnumerable<Store.Models.FilterViewModel>
@using Store.Models;
@using Newtonsoft.Json;

<script>
    //function GetFilters(Id, Url) {
    //    let u = Url;
    //    $(function () {
    //        $.ajax
    //            ({
    //                url: u,
    //                type: "GET",
    //                //data: { Message: Models },
    //                success: function (msg) {
    //                    console.log("Okey");
    //                    $('#' + Id).replaceWith(msg);
    //
    //            });
    //    });
    //}


    function GetFilters() //Сериализируем и отправляем POST (Id всіх)
    {
        for (let i = 1; i <= 5; i++) {
            let k = document.getElementById(i);

            console.log(k.id + "  " + k.checked);

        }

    }

    //function GetFilters(Id, Url) {
    //    let u = Url;
    //    $(function () {
    //        $.ajax
    //            ({
    //                url: u,
    //                type: "GET",
    //                //data: { Message: Models },
    //                success: function (msg) {
    //                    console.log("Okey");
    //                    //$('#' + Id).replaceWith(msg);
    //                }
    //            });
    //    });

</script>
<body>

    <form>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="1">
            <label class="custom-control-label" for="1">Test1</label>
        </div>


        @*<input type="checkbox" id="1" />
        <input type="checkbox" id="2" />
        <input type="checkbox" id="3" />
        <input type="checkbox" id="4" />
        <input type="checkbox" id="5" />*@
    </form>

    <input type="button" value="Обновить" onclick="GetFilters('_Filter', '@Url.Content("~/Store/GetFilters")')" />
</body>
