
@using Store.Models;

<h1>Сторінка перенаправлення</h1>

@using (Html.BeginForm())
{


    <div id="_Filter">
        @Html.Partial("_FilterView", (ViewBag.Filters as IEnumerable<CheckBoxModel>))

        @*<div type="button" style="width: 50px; height: 50px" onclick="GetFilters('@Url.Content("~/Store/GetFilters")')" />*@
    </div>
}



@*@Html.Partial("_FilterView");*@