@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex flex-column">
    <h3 class="text align-self-center p-2" style="background-color:silver; text-align: center; width: 220px; border-radius:5px; height:55px">Рекомендации</h3>
</div>
