@*@model IEnumerable<Store.Models.CheckBoxModel>
    @using Store.Models;*@
@{
   
}
<h1>Сторінка перенаправлення</h1>
<dody onload="">
    <form id="_Filter" action="GetFilters" method="post">
        <input type="button" onclick="GetFilters('@Url.Content("~/Home/GetFilters")')" />
    </form>
</dody>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/PostAction")

@*<a href="#">
        <div>
            <input type="checkbox" aria-checked="false" value="on">
            <span>
                Bootstrap<!-- -->
            </span>
        </div>
    </a>
    <span class="_2kkyX">
        Тут мій текст
    </span>*@
