
<h1>Сторінка перенаправлення</h1>
<div class=""> 
    <a href="#">
        <div>
            <input type="checkbox" aria-checked="false" value="on">
            <span>
                Bootstrap<!-- -->
            </span>
        </div>
    </a>
    <span class="_2kkyX">
        Тут мій текст
    </span>
</div>
