@model Store.Models.RegisterModel
@using Store.Models
@using Newtonsoft.Json;
@{
                /**/

                ViewBag.Title = "Register";
}

<br>
<h2 align="left">Реєстрація</h2>
<hr>
@*"Register","api/AccountApi", FormMethod.Post*@

<div id="RegisterView">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    <input placeholder="Email" id="InputEmail" class="form-control" />
                    <label id="ValidationMessageEmail" class="text-danger" hidden></label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input placeholder="Name" id="InputName" class="form-control" />
                    <label id="ValidationMessageName" class="text-danger" hidden></label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input placeholder="Password" id="InputPassword" class="form-control" />
                    <label id="ValidationMessagePassword" class="text-danger" hidden></label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input placeholder="Confirm password" id="InputConfirmPassword" class="form-control" />
                    <label id="ValidationMessageConfirmPassword" class="text-danger" hidden></label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" onclick="Register()" value="Зареєструватися" class="btn btn-success" />
                </div>
            </div>
        </div>

    }
</div>


<script>
    function Register() {

        //let IdValidationMessages = {"ValidationMessageEmail", }

        $(function () {
            let Email = $("#InputEmail").val();
            let Name = $("#InputName").val();
            let Password = $("#InputPassword").val();
            let ConfirmPassword = $("#InputEmail").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Register", "api/AccountApi")',
                data: { "Email": Email, "Password": Password, "ConfirmPassword": ConfirmPassword, "Name": Name },
                success: function (msg)
                {
                    alert("Registration was succed");
                },
                error: function (error) {

                    console.log(error.responseJSON);
                    let jsonErrors = { "Message": (error.responseJSON["Message"]), "ModelState": (error.responseJSON["ModelState"]) };

                    let ModelValidation = {
                        "Email": (jsonErrors.ModelState["userModel.Email"]),
                        "Name": (jsonErrors.ModelState["userModel.Name"]),
                        "Password": (jsonErrors.ModelState["userModel.Password"]),
                        "ConfirmPassword": (jsonErrors.ModelState["userModel.ConfirmPassword"])
                    }

                    if (ModelValidation.Email != null) {
                        let email = document.getElementById("ValidationMessageEmail");
                        email.innerText = ModelValidation.Email["0"];
                        email.hidden = false;
                    }
                    else {
                        let email = document.getElementById("ValidationMessageEmail");
                        email.hidden = true;
                    }


                    if (ModelValidation.Name != null) {
                        let tmp = document.getElementById("ValidationMessageName");
                        tmp.innerText = ModelValidation.Name["0"];
                        tmp.hidden = false;
                    }
                    else
                    {
                        let name = document.getElementById("ValidationMessageName");
                        name.hidden = true;
                    }


                    if (ModelValidation.Password != null) {
                        let pass = document.getElementById("ValidationMessagePassword");
                        pass.innerText = ModelValidation.Password["0"];
                        pass.hidden = false;
                    }
                    else
                    {
                        let pass = document.getElementById("ValidationMessageName");
                        pass.hidden = true;
                    }

                    if (ModelValidation.ConfirmPassword != null)
                    {
                        let ConPass = document.getElementById("ValidationMessageConfirmPassword");
                        ConPass.innerText = ModelValidation.ConfirmPassword["0"];
                        ConPass.hidden = false;
                    }
                    else
                    {
                        let ConPass = document.getElementById("ValidationMessageName");
                        ConPass.hidden = true;
                    }

                }
            });
        });
    }

</script>